<div class="grid grid-cols-1 md:grid-cols-3 gap-3" id="brews" phx-update="prepend">
    <%= for brew <- @brews do %>
    <%= live_component @socket, ATaleOfCoffeesWeb.Tasting.TastingCard, id: brew.id, brew: brew %>
    <% end %>
</div>
